* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  margin: 33px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo h1 {
  margin-left: 10px;
  color: black;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 1px;
  transition: all ease 0.5s;
}
.header__logo h1:hover {
  color: crimson;
}

.header__list {
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: space-evenly;
}
.header__list li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list li a {
  color: black;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}

.header__item a:hover {
  color: crimson;
  transition: all ease 0.5s;
  position: relative;
}
.header__item a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -10px;
  left: -2px;
  background-color: black;
}

.header__btn {
  padding: 10px 24px;
  background-color: black;
  color: white;
  border-radius: 8px;
  transition: all ease 0.8s;
}

.header__btn:hover {
  background-color: darkgray;
  color: crimson;
}

.hero {
  background-color: black;
  background-image: url(../../img/HERObannerbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 0px right 120px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hero__list {
  padding-top: 126px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hero__info h2 {
  max-width: 549px;
  color: white;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 26px;
}
.hero__info h2 span {
  background-color: yellow;
  color: black;
}
.hero__info p {
  max-width: 437px;
  color: white;
  font-size: 16px;
  line-height: 26px;
}
.hero__info button {
  margin-top: 40px;
  padding: 16px 48px;
  border-radius: 10px;
  font-weight: 700;
  margin-bottom: 60px;
  transition: all ease 0.8s;
}
.hero__info button:hover {
  background-color: crimson;
  color: white;
  font-weight: bold;
}
.hero__info a {
  color: white;
  font-size: 16px;
  line-height: 24px;
  transition: all ease 0.5s;
}
.hero__info a:hover {
  color: crimson;
}

.hero__company {
  display: flex;
  justify-content: center;
  max-width: 531px;
  margin-top: 40px;
}

.company__logo img {
  max-width: 130px;
  max-height: 74px;
}

.hero__banner img {
  max-width: 370px;
  max-height: 537px;
}

.info {
  margin-top: 71px;
}

.info__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.info__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.about__banner img {
  max-width: 431px;
}

.about__text {
  max-width: 554px;
}

.about__item h4 {
  margin-bottom: 44px;
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
}
.about__item p {
  margin-bottom: 44px;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
}

.info__service {
  margin-bottom: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.service__item h4 {
  font-size: 48px;
  line-height: 53px;
  margin-bottom: 93px;
  max-width: 447px;
  font-weight: 700;
  position: relative;
}
.service__item h4::after {
  position: absolute;
  content: "";
  width: 121px;
  height: 1px;
  bottom: -30px;
  left: 0;
  background-color: black;
}
.service__item p {
  max-width: 435px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 32px;
}

.service__info {
  display: flex;
}
.service__info img {
  max-width: 52px;
  max-height: 52px;
  margin-right: 20px;
}
.service__info h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.service__info p {
  max-width: 399px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3%;
  font-weight: 400;
}

.info__sucsess {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sucsess__banner img {
  max-width: 700px;
  max-height: 490px;
}

.sucsess__item {
  max-width: 441px;
}
.sucsess__item h4 {
  margin-bottom: 52px;
  font-size: 48px;
  line-height: 53px;
  font-weight: 700;
}
.sucsess__item p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.3%;
}

.sucsess__story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.sucsess__story h5 {
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  cursor: pointer;
}
.sucsess__story p {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  transition: all ease 0.5s;
}
.sucsess__story p:hover {
  font-size: 20px;
  font-weight: 700;
}

.team__title {
  margin-top: 36px;
  color: #333333;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 53px;
  padding-bottom: 55px;
}

.team__card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__card img {
  max-width: 90%;
  max-height: 296px;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__card span {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.team__card h6 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

.team__cardName {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.slayder {
  padding-top: 105px;
}

.slayder__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 53px;
  text-align: center;
  color: #333333;
}

.testimotial {
  padding-top: 75px;
  position: relative;
  overflow: hidden;
}

.testimotial .slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 82% !important;
  border: 1px solid #000;
}

.slide p {
  margin-top: 40px;
  max-width: 635px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}

.carusel__ava {
  width: 88px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slayder__footer {
  margin-top: 32px;
}
.slayder__footer b {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1D1D1D;
}
.slayder__footer h6 {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4F4F4F;
}

.nav-btn {
  width: 56px;
  height: 56px;
  color: white;
  background: #0B0A0A;
  border-radius: 8px;
}

.nav-btn::after, .nav-btn::before {
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */