*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgb(215, 128, 128);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}