.slayder {
    padding-top: 105px;
}
.slayder__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: $lightBlack;
}

.testimotial {
    padding-top: 75px;
    position: relative;
    overflow: hidden;
}

.testimotial .slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 82% !important;
    border: 1px solid #000;
}

.slide p {
    margin-top: 40px;
    max-width: 635px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}

.carusel__ava {
    width: 88px;
    height: 88px;
    object-fit: cover;
}

.slayder__footer {
    margin-top: 32px;

    b {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #1D1D1D;
    }

    h6 {
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #4F4F4F;
    }
}
.nav-btn {
    width: 56px;
    height: 56px;
    color: white;
    background: #0B0A0A;
    border-radius: 8px;
}
.nav-btn::after, .nav-btn::before {
    font-size: 16px;
}